@media screen and (max-width: 680px)
{
    #body
    {
        width: auto;
    }

    header nav 
    {
        width: 100%;
    }

    header ul 
    {
        margin-top: 30px;
    }

    header li.header-nav  
    {
        padding: 0
    }

    #inscription-lien 
    {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
    }

    #header-barre-haut 
    {
        align-items: flex-start;
        flex-direction: column;
    }

   .item-survol-menu 
    {
        width: 50%;
        padding: 30px 0;
        text-align: center;
    }

    section 
    {
        margin: 0;
    }

    .img
    {
        width: 270px;
        height: 150px;
    }

    .imgs
    {
        width: 270px;
        height: 150px;
    }

    .imgp
    {
        width: 270px;
        height: 150px;
    }

    #activites_container
    {
        padding-bottom: 10px;
    }

    .desc
    {
        width: 270px;
    }

    #info
    {
        font-size: 13px;
    }

    #hebergements
    {
        font-size: 16px;
        
    }

    .container2
    {
        padding: 50px;
    }
    
    .descport
    {
        width: 230px;
    }

    .descfort
    {
        width: 230px;
    }

    .descfrioul
    {
        width: 230px;
    }

    .desccalanques
    {
        width: 230px;
    }

    .descgarde
    {
        width: 230px;
    }

    .descparc
    {
        width: 230px;
    }

    .container
    {
        background-color: white;
    }

    #aside-titre
    {
        flex-direction: reverse;
        columns: reverse;
    }

    #filtre
    {
        justify-content: left;
        display: block;
    }

    
}

@media screen and  (min-width: 681px) and (max-width: 1300px) 
{
    
}