@media screen and (max-width: 680px)
{
    #body
    {
        width: auto;
        margin-left: 0%;
    }

    #bloc_page
    {
        margin-left: 20px;
    }

    header nav 
    {
        width: 100%;
    }

    header ul 
    {
        margin-top: 30px;
    }

    header li.header-nav  
    {
        padding: 0
    }

    #inscription-lien 
    {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
    }

    #header-barre-haut 
    {
        align-items: flex-start;
        flex-direction: column;
    }

    .tete
    {
        padding: 0%;
    }

   .item-survol-menu 
    {
        width: 50%;
        padding: 30px 0;
        text-align: center;
        margin-left: 0%;
    }

    .item-survol-menu:hover {
        border-bottom: 2px solid blue;
        border-top: none;
    }

    section 
    {
        margin: 0;
    }

    h1 
    {
        font-size: 25px;
    }

    #titre_principal
    {
        margin-left: 0%;
    }
    
    #rechercher
    {
        margin-left: 0%;
    }

    #filtres_nom
    {
        margin-left: 10px;
    }

    #filtre
    {
        margin-left: 0%;
    }
    
    #logements
    {
        margin-left: 0%;
    }

    .container
    {
        padding-left: 0;
    }

    .button
    {
        display: none;
    }

    .button2
    {
        display: flex;
        padding: 10px;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        padding: 12px;
        position: relative;
        right: 5px;
    }

    .search-input
    {
        padding-right: 120px;
    }
    
    #economique
    {
        width: 26%;
    }

    #familial
    {
        width: 17%;
    }

    #romantique
    {
        width: 26%;
    }

    #animaux
    {
        width: 40%;
    }
    
    .img
    {
        width: 100%;
        height: 150px;
    }

    .imgs
    {
        width: 100%;
        
    }

    .imgp
    {
        width: 100%;
        height: 150px;
    }

    #activites_container
    {
        padding-bottom: 10px;
    }

    .desc
    {
        width: 100%;
        background-color: white;
        position: relative;
        bottom: 35px;
        box-shadow: 1px 1px 4px silver;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-sizing: border-box;
        padding: 10px;
    }

    .description
    {
        width: 100%;
        
    }
    
    .info
    {
        margin-bottom: 15px;
        
    }
    
    #info
    {
        font-size: 12px;
        padding-bottom: 10px;
    }

    #hebergements
    {
        font-size: 16px;
        
    }

    .hebergements
    {
        padding: 0%;
        width: 100%;
        margin-bottom: 0%;
    }

    .hebergements .img
    {
        width: 100%;
    }

    aside
    {
        
        padding-left: 0%;
        margin: 0 5px;
    }
    
    .lespluspopulaires
    {
        display: flex;
        flex-wrap: nowrap;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .port 
    {
        margin: 0%;
    }
    
    .descport
    {
        width: 100%;
        box-sizing: border-box
    }

    .descfort
    {
        width: 100%;
        box-sizing: border-box
    }

    .descfrioul
    {
        width: 100%;
        box-sizing: border-box
    }

    .calanques 
    {
        margin: 0%;
    }
    
    .desccalanques
    {
        width: 100%;
        box-sizing: border-box
    }

    .descgarde
    {
        width: 100%;
        box-sizing: border-box
    }

    .descparc
    {
        width: 100%;
        box-sizing: border-box
    }

    .container
    {
        background-color: white;
        width: 100%;
    }

    #filtre
    {
        justify-content: left;
        display: block;
    }

    #hebergement_section
    {
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
    }

    #activites_container {
        flex-direction: column;
    }

    #activites_section {
        width: 90%;
        margin: auto;
    }

    .container2 
    {
        margin-left: 0%;
        padding-right: 0%;
        width: 100%;
    }

    footer
    {
        padding-left: 0%;
    }

    .rfooter
    {
        width: 100%;
    }
}

@media screen and  (min-width: 681px) and (max-width: 1300px) 
{
    #filtre
    {
        display: flex;
        flex: auto;
    }

    .container
    {
        
        flex: auto;
        width: auto;
    }

    aside
    {
        
        flex: auto;
        margin-top: 20px;
    }

    .container2
    {
        
        flex: auto;
        margin-left: 0%;
        padding-right: 0%;
    }

    #hebergement_section
    {
        flex-direction: column-reverse;
    }

    .container
    {
        background-color: white;
    }

    footer
    {
        padding-left: 0%;
    }
}